* {
  margin: 0;
  padding: 0;
  overflow-y:  initial !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow: auto;
  // flex-grow: 1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#root {
  flex-grow: 1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.portfolio-page {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // flex-grow: 1;

    .text-zone {
      position: relative;
      left: 10%;
      margin-right: 20rem;
      margin-top: 20rem;
      margin-left: 7rem;
      transform: translateY(-50%);
      width: auto;
      max-width: 100%;
      text-align: center;
    }
  
    .project-container {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      // left: 500%;
      padding: 0 0 0 10rem;
    }
  
    .project-card {
      position: relative;
      flex: 1 1 20%;
      height: 400px;
      overflow: hidden;
      border-radius: 10rem;
      max-width: 40%;
      left: 9%;

        .project-image {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

        .content {
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.2) 0,
              rgb(55, 52, 52)
            );
            bottom: 10px;
        }

        h3 {
          margin-bottom: 0;
          margin-top: 0;
          color: #fff;
          font-size: 43px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          font-family: 'Coolvetica';
        }

        // &:after {
        //   content: "";
        //   background: linear-gradient(180deg, red, black);
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   bottom: 10px;
        //   top: 0;
        //   width: 100%;
        //   z-index: 2;
        //   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        //   opacity: 0;
        // }

        // &:hover:after {
        //   opacity: 0.85;
        // }

        // &:hover .content {
        //   bottom: 10px;
        //   background: transparent;
        // }
    }
  
 
  
  
    h1 {
      color: #fff;
      font-size: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
  
      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: red;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: 15px;
        opacity: 0.6;
      }
  
      &::after {
        content: '<h1/>';
        font-family: 'La Belle Aurore';
        color: red;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }

    }
      
    p {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 18px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      padding-bottom: 1rem;
    }
}



@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto;
  }

  .text-zone {
    width: 100%;
  }

  .project-card {
    width: 100%;
    align-items: center;
    h3 {
        display: none;
      }
  }

  .project-card img {
    flex-grow: 1;
  }

}